*{
  margin:0; padding:0; font-family:sans-serif; box-sizing:border-box;
}
header{
  width:100%;
  height: 10vh;
  background-color:rgba(0,0,0,0.05);
}
  nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
  }
  .menu a:hover{
    color:rgb(243, 102, 156);
    text-decoration: underline;

  }
  .logo{
    font-size:40px;
  }
  .logo span{
    color: red;
  }
  .menu a{
   text-decoration: none;
   color:black;
   font-size:20px;
   padding:10px 20px;
  }
  .bini{
    flex-basis:0.5%;
  }
  label{
    position: relative;
    background: white;
  }
  lable input{
  border:none;
  outline:none;
  border-radius: 5px;
  padding: 10px;
  }
  .straw {
    background-size: cover;
    background-repeat: no-repeat ;
    
  }
  img{
    height: 75vh;
    width: 100%;
    
  }
  .shop-section{
    display: flex;
    justify-content: space-evenly;
    background:rgba(0,0,0,0.05);
  }
  .box{

    height: 400px;
    width:23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 15px;
  }
  .box-img {
    height: 300px;
    background-image: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .box-contain{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .page-title{
    text-align: center;
    color:red;
  }
  .box-contain p{
    color:#850031;
  }
  .text-box{
  display:flex;
  justify-content:left;
  align-items:center;
  }
  .left{
     flex-basis: 50%;
     
    
  }
  .left p{
   font-size:23px;
  }
  .left li{
    font-size:23px;
    margin-bottom:10px;
  }
  .right{
   flex-basis: 50%;
    
  }
  .right img{
    width:90%;
  }
  .form-box form {
    max-width: 600px;
    margin: 0 auto;
}

.form-title {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
}

.form-box input,
.form-box textarea {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.form-field {
    margin-bottom: 16px;
}

.form-box label {
    font-size: 19px;
    font-weight: 700;
}

.form-box textarea { height: 140px; }

.form-box input[type*="submit"] {
    width: auto;
    padding: 14px 32px;
    background-color: red;
    color: white;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
}

.form-box input[type*="submit"]:hover {
    background-color: rgb(237, 141, 141);
}
footer{
  margin-top: 15px;
  background-color: rgba(0,0,0,0.05);
  height: 50px;
  justify-content: center;
}